<main>
    <!-- Mini nav para seleccionar entre la ventana de usuarios y texts -->
    <nav>
        <ul>
            <li (click)="ventana=true" [ngClass]="ventana?'activo':''">Personas</li>
            <li (click)="ventana=false" [ngClass]="ventana?'':'activo'">Preguntas</li>
        </ul>
    </nav>

    <!-- Caja que contiene personas o preguntas, dependiendo de lo seleccionado -->
    <section id="cajas">
        <div class="personas" *ngIf="ventana">
            <ul>
                <li class="alerta" *ngIf="personas.length === 0">
                    No hay personas
                </li>
                <li *ngFor="let persona of personas" [@slideInOut]>
                    <p>{{persona}}</p>
                    <div (click)="borrar(persona)" class="eliminar">
                        <svg fill="#3e3e3e" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </div> 
                </li>
            </ul>
        </div>
        <div class="preguntas" *ngIf="!ventana">
            <ul>
                <li class="alerta" *ngIf="preguntas.length === 0">
                    No hay preguntas
                </li>
                <li *ngFor="let pregunta of preguntas" [@slideInOut]>
                    <p>{{pregunta}}</p>
                    <div (click)="borrar(pregunta)" class="eliminar">
                        <svg fill="#3e3e3e" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </div> 
                </li>
            </ul>
        </div>
    </section>

    <section id="bottom">
        <!-- Formulario para anyadir personas o preguntas, dependiendo de lo seleccionado  -->
        <form (ngSubmit)="f.valid ? onFormSubmit(f): undefined" #f="ngForm">
            <input
                autocomplete="off"
                spellcheck="false"
                name="userInput"
                ngModel
                type="text"
                [placeholder]="ventana ? 'Carlos' : 'Nueva pregunta'">
            <button class="boton-plano" type="submit">
                <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
            </button>
        </form>
        <!-- Gran boton para randomizar -->
        <button
            (click)="randomizar()"
            class="boton-grande">
            ¡Randomizar!
        </button>        
    </section>

</main>

<!-- Cuando le demos a randomizar mostrara esta seccion -->
<section id="respuesta_randomizador" *ngIf="hayRespuesta || pensandoRespuesta" [@fadeInOut]>
    <!-- Hacemos como que pensamos la respuesta -->
    <div class="pensando" *ngIf="pensandoRespuesta" [@fadeInOut]>
        <div class="center">
            <p>Déjame pensar...</p>
            <img src="static/img/resacon.gif" alt="pensando">
            <div class="spin"></div>
        </div>
    </div>
    <!-- El texto de la respuesta -->
    <div class="respuesta" *ngIf="hayRespuesta" [@fadeInOut]>
        <div class="center">
            <p class="nombre">{{persona}}</p>
            <p class="pregunta">{{pregunta}}</p>
            <button class="cerrar" (click)="cerrarRespuesta()">
                Cerrar
            </button>              
        </div>
    </div>
</section>